/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

h2 {
    margin-top: 2rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
} */

/* html {
  scroll-behavior: smooth;
  scroll-snap-type:proximity;
} */
html {
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.snap-section {
  scroll-snap-align: start;
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #131325;
}

.navbar-brand:hover {
  color: #8cc3b6 !important;
}

.nav-link:hover {
  color: #8cc3b6 !important;
  border-bottom: #8cc3b6 1px solid !important;
}

.border-green {
  border-color: #84fcd4 !important;
}

.custom-navbar {
  background-color: #308f7a !important;
}

.profile-pic {
  border-radius: 50%;
    width: 250px;
}

.bi-github {
  color: #308f7a;
}

.bi-github:hover {
  color: #84fcd4;
}

.bi-instagram {
  color: #308f7a;
}
.bi-instagram:hover {
  color: #84fcd4;
}
.bi-linkedin {
  color: #308f7a;
}
.bi-linkedin:hover {
  color: #84fcd4;
}
.bi-envelope-fill {
  color: #308f7a;
}
.bi-envelope-fill:hover {
  color: #84fcd4;
}